* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: #000;
  color: white;
  font-family: Arial, sans-serif;
  height: 400vh; /* scroll length */
  overflow-x: hidden;
}

/* CANVAS */
canvas {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
}

/* TITLE */
.title {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 6vw;
  font-weight: 800;
  letter-spacing: 10px;
  z-index: 2;

  background: linear-gradient(90deg, #00f0ff, #8a2be2);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;

  text-shadow: 0 0 30px rgba(0, 255, 255, 0.3);
}

/* SCROLL SPACE */
.spacer {
  height: 300vh;
}